name: Build
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        goarch: [ amd64, arm64 ]
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: 'stable'
      - name: Install dependencies
        run: go mod tidy
      - name: Build ${{ matrix.goarch }}
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: ${{ matrix.goarch }}
        run: go build -o buyqcloud-${{ matrix.goarch }} -ldflags '-s -w -extldflags "-static"'
      - name: Compress ${{ matrix.goarch }}
        run: upx --best --lzma buyqcloud-${{ matrix.goarch }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: backend-${{ matrix.goarch }}
          path:
            buyqcloud-${{ matrix.goarch }}
